$font: Sans, "Sans-serif";
$anchor: #337ab7;
/*------------------------------------------------------------------------------
Social Icons Colors
-------------------------------------------------------------------------------*/
$twitter: #00aced;
$facebook: #3b5998;
$pinterest: #cb2027;
$linkedin: #007bb6;
$instagram: #bc2a8d;
$flickr: #ff0084;
$blogger: #fb8f3d;

// ==========1=======2=========3========4=========5========6========7=====
$box-model: " " "box-sizing" "width" "height" "padding" "border" "margin";

// Mixin for box model css
@mixin boxmodel($n1,$value1,$n2,$value2,$n3,$value3) {
	#{nth($box-model,$n1)}: #{$value1};
	#{nth($box-model,$n2)}: #{$value2};
	#{nth($box-model,$n3)}: #{$value3};
}

// Mixin for Border-radius property
@mixin border-radius($radius){
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
}

@mixin fonta($value){ font: #{$value} $font; }

@mixin translate($transform) {
	-webkit-transform: translate($transform);
	-moz-transform: translate($transform);
	-ms-transform: translate($transform);
	transform: translate($transform);
}

@mixin translateX($x) {
	-webkit-transform: translateX($x);
	-moz-transform: translateX($x);
	-ms-transform: translateX($x);
	transform: translateX($x);
}

@mixin translateY($y){
	-webkit-transform: translateY($y);
	-moz-transform: translateY($y);
	-ms-transform: translateY($y);
	transform: translateY($y);
}

@mixin transition($trans){
	-webkit-transition: $trans;
	-moz-transition: $trans;
	-ms-transition: $trans;
	transition: $trans;
}


@mixin animation($value) {
	-webkit-animation: $value;
	-moz-animation: $value;
	-ms-animation: $value;
	animation: $value;
}


/*Media Queries*/
@mixin tab(){
	@media screen and (max-width:767px){ @content; }
}

@mixin mobile() {
	@media screen and (max-width: 480px) { @content; }
}
