 /*==========================================================================
 Article Page Styling
 ========================================================================== */
 .article-page {
 	p { margin: 15px 0;	}
 	h4 {
 		@include fonta(700,17px);
 		text-transform: uppercase;
 	}
 }

 .title-wrap { padding: 40px 0 0; }

 .article-title {
 	.item-heading { margin: 0 0 5px;	}
 	span { color: #a6a8ab; }
 	@include tab() { margin: 0 2%; }
 }

 .share {
 	padding: 0 6%;
 	text-align: right;
 	@include tab() { text-align: center; }
 	span {
 		display: inline-block;
 		color: #a6a8ab;
 	}
 	ul { display: inline-block;
 		li {
 			padding: 0 5px;
 			display: inline-block;
 		}
 		a {
 			padding: 0 5px;
 			display: block;
 			color: #888;
 			&:hover {
 				color: black;
 			}
 		}
 	}
 }
 /*Main Paragraph*/
 .desc { @include fonta(700,16px); }

 .article-content {
 	padding: 20px 0;
 	a {
 		margin: 0 0 40px;
 		display: block;
 		overflow: hidden;

 		img {
 			width: 100%;
 			@include transition(all 0.3s linear);
 		}
 		&:hover img {
 			opacity: 0.6;
 			transform: scale(1.1);
 			-webkit-transform: scale(1.1);
 			-moz-transform: scale(1.1);
 			-ms-transform: scale(1.1);
 		}
 	}
 }

 /*Quoted Text*/
 .quotes {
 	margin: 10px 0;
 	color: #a6a8ab;
 	code {
 		width: 5%;
 		display: inline-block;
 		background-color: #fff;
 		color: #efed05;
 		@include fonta(700,50px);
 		text-shadow: 0 0 1px black;
 		vertical-align: top;
 		@include tab() {
 			@include fonta(700,30px);
 		}
 	}
 	p {
 		width:94%;
 		display: inline-block;
 		@include fonta(400,18px);
 		font-style: italic;
 		@include tab() {
 			width:92%;
 			@include fonta(400,16px);
 			font-style: italic;
 		}
 	}
 }

 /*Bullet List*/

 .bullet-list {
 	list-style-type: none;
 	li {
 		margin: 10px 0;
 		display: -webkit-flex;
 		display: -moz-flex;
 		display: -ms-flex;
 		display: -o-flex;
 		display: flex;
 	}
 	li::before {
 		padding: 0 2% 0 0;
 		display: inline-block;
 		content: "•";
 		color: #00ff99;
 		@include tab() {
 			padding: 0 5% 0 0;
 		}
 	}
 }


 aside {
 	text-align: center;
 	.learn-about {
 		height: 40px;
 		padding: 10px;
 		margin: 40px 0 20px;
 	}
 }

 .related-stories {
 	list-style-type: none;
 	h4 {
 		margin: 20px 0 0;
 		color: #3c5bff;
 	}
 	p {
 		margin: 5px 0;
 	}
 }

 .panel-footer { text-align: left; }

 .story-pic {
 	.story-title {
 		padding: 20px 0 49px;
 		h4 {
 			margin: 5px 0;
 			text-transform: capitalize;
 			code {
 				color: #000;
 				background-color: #fff;
 			}
 		}
 		span { color: #a6a8ab; }
 	}
 	p { margin: 70px 0 30px; }
 	.more-details { padding: 0 5%; }
 }

 .success-stories {
 	padding: 40px 0 0;
 	background: url(../images/experts_bg.png) no-repeat;
 	background-size: 100% 100%;
 }