
// Footer

footer {
	background-color:  #444348;
	.news-letter {
		box-sizing: border-box;
		padding: 40px 0;
		text-align: center;
		h5 {
			margin: 0 0 25px;
			color: #fff;
			@include fonta(700,14px);
		}
		form {
			width: 100%;
			display: inline-block;
			.highlight {
				width: 25%;
				padding: 10.5px 15px;
				@include border-radius(0);
				@include fonta(400,14px);
				@include tab() {
					width: 35%;
				}
			}
			.subscribe {
				padding: 11px 23px;
				margin: 0 2%;
				border: 1px solid #fff;
				@include border-radius(4px);
				color: #fff;
				background-color: transparent;
				@include fonta(700,14px);
				text-transform: uppercase;
				@include transition(all 0.3s linear);
				&:hover {
					background-color: #fff;
					color: #444348;
				}

			}
		}
	}
}
.navigations {

	h2 {
		a {
			display: block;
			img { width: 100%; }
		}
	}
	padding: 39px 0;
	background-color:  #38373c;
	.footer-heading, .footer-heading a {
		color: #fff;
		@include fonta(700,14px);
		text-transform: capitalize;
	}
	.solutions-nav {
		list-style-type: none;
		li {
			margin: 15px 0 0;
			a {
				color: #a6a8ab;
				@include fonta(400,12px);
				text-transform: capitalize;
				&:hover { color:#fff; }

			}
		}
	}
}

.copyright {
	padding: 11px 0;
	background-color:  #2c2b30;
	text-align: center;
	.copyrights-links {
		width: 50%;
		display: inline-block;
		li:first-child { margin: 0 10px 0;

			span { @include fonta(400,11px); }
			@include tab() { margin: 0; }
		}

		li {
			display: inline-block;
			color: #fff;
			code {
				background-color: transparent;
				color: #fff;
			}
		}
		li, a {
			@include fonta(400,11px);
			text-transform: capitalize;
		}
		a {
			padding: 0 5px 0;
			border-left: 1px solid #d8dade;
			display: block;
			color: #d8dade;
		}
	}
}

.social {
	width: 100%;
	margin: 30px 0 0;
	li {
		width: 25%;
		padding: 0;
		display: inline-block;
	}
	a {
		display: block;
		color: #999;
		@include transition(all 0.3s linear);
		&:hover { color: #fff; }


	}
}
