/* ==========================================================================
Header Styling
========================================================================== */

@font-face { font-family: Verdana;
	src: url(../vendor/font/verdana.eot) format("embedded-opentype"),
	url(../vendor/font/verdana.ttf) format("truetype");
}

.container-fluid { @include boxmodel(3,"100%",5,"0",7,"0");	}

.wrapper { @include boxmodel(3,"90%",7,"0 auto",1,""); }

header {	background-color: #38373c; }

nav a,
nav>ul>li { display: inline-block; }

h1>a {
	padding: 21px 0;
	display: inline-block;
}

/*Navigation Menus*/


nav {
	/*Nav ul*/
	.ul-hide {
		display: block;
		/*First ul li*/
		&>li {
			padding: 30px 0 28px;
			margin: 0 2%;
			&>a,
			div a	{
				color: #fff;
				@include fonta(700,14px);
				text-align: left;
				text-decoration: none !important;
				text-transform: uppercase;
				&:hover { color: #3c5bff; }
			}
		}
	}

	.ul-show {
		display: block;
		/*First ul li*/
		&>li {
			padding: 30px 0 28px;
			margin: 0 2%;
			&>a {
				color: #fff;
				@include fonta(700,14px);
				text-align: left;
				text-decoration: none !important;
				text-transform: uppercase;
				&:hover { color: #3c5bff; }
			}
			&>div a {
				color: #fff;
				@include fonta(700,14px);
				text-align: left;
				text-decoration: none !important;
				text-transform: uppercase;
				&:hover { color: #3c5bff; }
			}
		}
	}

}

/*Second ul li dropdown*/

.solutions {
	position: relative;
	/* Second Ul li Starts Here*/
	.hide-second {
		padding-left: 15px;
		display: none;
		&>li {
			a {
				padding: 15px 0 15px 6%;
				display: block;
				color: #a6a8ab;
				@include fonta(400,16px);
				text-transform: capitalize;
				code {
					color: #a6a8ab;
					background-color: transparent;
					@include border-radius(0);
				}
			}
		}
	}
	/* Second Ul li Ends Here*/

	&:hover .hide-second {
		display: block;
		position: absolute;
		top: 100%;
		z-index: 2;
		background-color: #444348;
		list-style-type: none;
		@include translateX(-30px);
		&>li {
			min-width: 230px;
			margin: 0;
			&:hover {
				background: url(../images/sub-nav.png) no-repeat left;
				a, a code { color: #31c297; }
			}
		}
	}
}
/*Solutions UL li Ends Here*/


.sales {
	&>ul { display: none;	}
	&:hover>.hide-third {
		display: block;
		position: absolute;
		left: 100%;
		top: 0;
		bottom: 0;
		background-color: #444348;
		list-style-type: none;
		&>li {
			min-width: 270px;
			padding: 0 6.4%;
			margin: 0;
			a, code { color: #fff !important; }
			a { padding: 15px 2%;

				@include tab() { padding: 15px 10%;}
				code {
					background-color: transparent;
					border-radius: 0;
				}
				&:hover { color: #31c297 !important;}
			}
		}
	}
}

