/* ==========================================================================
Home Page
========================================================================== */

.banner {
	width: 100%;
	padding: 13.5% 0;
	margin-top: 76px;
	display: table;
	background: url(../images/image_hero-1-1200x609.jpg) no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	color:  #fff;
	text-align: center;
	.wrapper {
		display: table-cell;
		vertical-align: middle;
	}

	.banner-content {
		width: 66%;
		display: inline-block;
	}

	h2 {
		@include fonta(700,"65px/65px");
	}
	span {
		margin: 18px 0;
		display: block;
		@include fonta(400,17.99px);
	}
}

.learn-more {
	margin: 16px 0;
	padding: 10px 20px;
	border: 1px solid #fff;
	@include border-radius(4px);
	display: inline-block;
	background-color: transparent;
	color: #ffffff;
	@include fonta(700,14px);
	text-transform: uppercase;
	@include transition(all 0.3s linear);
	&:hover {
		background-color: #fff;
		color: #555;
		text-decoration: none;
	}
}

.secondary-heading {
	color: #38373c;
	@include fonta(700,30px);
	text-align: center;
	text-transform: uppercase;
	span {
		display: block;
		@include fonta(700,30px);
	}
}
/*-------------------------------------
New Approach Section
--------------------------------------*/
p,
span { @include fonta(400,"13.99px/20px"); }
.new-approach {
	.wrapper {
		padding: 70px 0 0;
		text-align: center;
	}
	.approach-content {
		width: 60%;
		padding-bottom: 67px;
		border: 1px solid transparent;
		display: inline-block;
		p { margin: 25px 0; }

		.addition {
			padding: 25px 0;
			border-top: 1px solid #a6a8ab;
			border-bottom: 1px solid #a6a8ab;
			color: #a6a8ab;
			@include fonta(700,17.99px);
			font-style: italic;
			span {
				display: inline-block;
				font-style: normal;
				text-transform: uppercase;
			}
			code {
				margin: 0 1.5%;
				background-color: #fff;
				border-radius: 0;
				display: inline-block;
				color: #ee8e5f;
				font: 400 17.99px $font;
				font-style: normal;
			}
		}
	}
}

/*-------------------------------------
Services Section
--------------------------------------*/
.services {
	text-align: center;
	div a { @include transition(all 0.3s linear) }
	div a:hover {
		transform: scale(1.2);
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
	}
	div:nth-child(1) a {
		background: url(../images/data.png) no-repeat;
		background-size: 100% 100%;
	}
	div:nth-child(2) a {
		background: url(../images/com-power.png) no-repeat;
		background-size: 100% 100%;
	}
	div:nth-child(3) a {
		background: url(../images/analytics-service.png) no-repeat;
		background-size: 100% 100%;
	}
	div:nth-child(4) a {
		background: url(../images/visualization-service.png) no-repeat;
		background-size: 100% 100%;
	}
	a {
		width: 100px;
		height: 100px;
		@include border-radius(50%);
		display: inline-block;
		text-indent: -9999px;
	}
	.item-heading {
		margin: 34px 0 15px;
		code {
			background-color: #fff;
			color: #38373c;
			@include fonta(700,18px);
		}

	}
	p {
		margin: 0 0 40px;
		color: #a6a8ab;
		@include fonta(400,14px);
		span { display: block; }
	}
}

.item-heading {
	margin: 34px 0 15px;
	color: #38373c;
	@include fonta(700,18px);
	text-transform: capitalize;
}

.learn-about {
	padding: 10px;
	margin: 0 0 70px;
	border: 2px solid #3c5bff;
	@include border-radius(8px);
	display: inline-block;
	color: #3956f0;
	@include fonta(700,14px);
	text-transform: uppercase;
	@include transition(all 0.3s linear);
	&:hover {
		background-color: #3956f0;
		color: #fff;
		text-decoration: none;
	}
}

/*-------------------------------------
Grids Section
--------------------------------------*/

.grids {
	margin: 0;
	li {
		padding: 0;
		display: inline-block;
		position: relative;
		overflow: hidden;
		@include transition(all 0.6s linear);
		img {
			width: 100%;
			@include transition(all 0.6s linear);
		}
		div {
			position: absolute;
			bottom: 10%;
			left: 10%;
			z-index: 2;
			text-align: left;
			h5 {
				margin-bottom: 30px;
				color: #fff;
				@include fonta(700,30px);
			}
			a {
				color: #fff;
				@include fonta(700,14px);
				text-transform: uppercase;
				@include transition(all 0.3s linear);
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&:hover {
			background-color: black;
			img:hover {
				transform: scale(1.2);
				opacity: 0.5;
			}
		}
	}
}

/*-------------------------------------
Success Stories Section
--------------------------------------*/
.success-stories {
	.wrapper {
		padding: 70px 0 0;
		text-align: center;
	}
	h3 { margin: 0 0 50px; }
}

.story-pic {
	margin: 0 0 70px;
	text-align: left;
	a {
		padding: 0;
		display: block;
		overflow: hidden;
		img { width: 100%;
			@include transition(all 0.4s linear);
			&:hover {
				transform: scale(1.1);
				-webkit-transform: scale(1.1);
				-moz-transform: scale(1.1);
				-ms-transform: scale(1.1);
			}

		}
	}
	div {
		padding: 5%;
		box-sizing: border-box;
	}
	h4 {
		margin: 0 0 67px;
		@include fonta(700,23.91px);
	}

	p {
		padding: 0 0 0 22px;
		border-left: 2px solid #ffc001;
		margin: 87px 0 20px;
		display: inline-block;
	}
	.more-details {
		color:  #3956f0;
		@include fonta(700,14px);
		text-transform: uppercase;
		@include transition(0.4s linear);
		&:hover { text-decoration: underline !important; }
	}
}

/*-------------------------------------
Company Growth
--------------------------------------*/
.growth {
	.growth-list { list-style-type: none; }
	padding: 59px 0 39px;
	li { margin: 0 0 20px; }
	background: url(../images/growth.jpg) no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	span {
		display: block;
		color: #fff;
		@include fonta(700,14px);
		text-align: center;
		text-transform: uppercase;
	}
	.number { @include fonta(700,65px); }
}

/*-------------------------------------
Slider Testimonials
--------------------------------------*/
.testimonials {
	.wrapper {
		padding: 70px 0;
		text-align: center;
		h4 {
			margin: 0 0 70px;
		}
	}
}

.carousel {
	margin: 0 0 50px;
	position: relative;
	.icon {
		width: 42px;
		height: 42px;
		display: inline-block;
		position: absolute;
		left: 50%;
		@include transform(-50%);
		background: url(../images/ellipse.png) no-repeat;
		background-size: 100% 100%;
		text-indent: -9999px;
	}

	.item {
		box-sizing: border-box;
		padding: 80px 25% 60px;
		p,
		span { color: #a6a8ab; }

		p {
			margin: 0 0 10px;
			@include fonta(400,20px);
			font-style: italic;
		}
		span {
			@include fonta(400,12px);
		}
	}

	.carousel-indicators li {
		background-color:  #3c5bff;
	}

	.carousel-control.left,
	.carousel-control.right {
		width: 2%;
		text-decoration: none;
		text-indent: -9999px;
	}

	.carousel-control.left {
		background: url(../images/left-arrow.svg) no-repeat;
		background-size: 100% 100%;
	}

	.carousel-control.right {
		background: url(../images/right-arrow.svg) no-repeat;
		background-size: 100% 100%;
	}
}
