h1>a {	@include tab(){ padding: 30px 0; } }

@include tab() {
	nav { position: static !important;
		/*Nav ul*/
		.ul-hide { display: none;
			/*First ul*/
			&>li {
				padding: 0;
				border-bottom: 1px solid #2c2b30;
				&>a {
					padding: 20px 5%;
					display: inline-block;
					@include fonta(700,24px);
					@include mobile() { @include fonta(700,20px); }
				}
			}
		}

		.ul-show {
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 90%;
			background-color: #38373c;
			overflow: auto;
			/*First ul*/
			&>li {
				padding: 0;
				border-bottom: 1px solid #2c2b30;
				display: block;
				&>a {
					padding: 20px 5%;
					display: inline-block;
					@include fonta(700,24px);
					@include mobile() {
						@include fonta(700,20px);
					}
				}

				&>div a {
					padding: 20px 5%;
					display: inline-block;
					color: #fff;
					@include fonta(700,24px);
					text-transform: uppercase;
					@include mobile() {
						@include fonta(700,20px);
					}
				}

			}
		}
	}
	nav {
		.hamburger {
			width: 45px;
			height: 45px;
			margin: 23px 0 25px;
			display: block;
			background: url(../images/hamburger.svg) no-repeat;
			background-size: 100% 100%;
			text-indent: -9999px;
			text-decoration: none;
			@include transition(all 0.2s linear);
			/*First UL LI*/
		}
	}
}
/*Nav Ends Here*/

/*Hamburger Starts Here*/
.change-nav {
	width: 45px;
	height: 45px;
	margin: 23px 0 25px;
	display: block;
	background: url(../images/close.png) no-repeat;
	background-size: 100% 100%;
	@include animation(cross-icon 0.3s linear);
	text-indent: -9999px;
	text-decoration: none;
}

@keyframes cross-icon {
	0% { background: url(../images/hamburger.svg) no-repeat; }
	100% { background: url(../images/close.png) no-repeat; }
}
/*Hamburger Ends Here*/

/*Solutions Nav*/
.solutions {
	@include tab() {
		position: relative;
		.show-second {
			position: static !important;
			left: 0;
			right: 2%;
			background-color: #444348;
			&>li {
				padding: 0;
				margin: 0;
				transition-duration: 0.3s;
				a {
					padding: 15px 0 15px 6.4%;
					display: inline-block;
					color: #a6a8ab;
					@include fonta(400,24px);
					text-transform: capitalize;
					code {
						background-color: transparent;
						color: #a6a8ab;
					}
					@include mobile() { @include fonta(400,20px);	}
				}
				&:hover  {
					padding: 0;
					margin: 0;
					&:hover { a, a code { color: #31c297; } }
					&>a:hover { background: url(../images/sub-nav.png) no-repeat left; }
				}
			}
		}

		&:hover .hide-second { opacity: 0; }
		.show-second {
			padding-left: 15px;
			position: static !important;
			opacity: 1;
			li { padding-left: 0; }
			&>li:hover { background: url(../images/sub-nav.png) no-repeat left;
				a, a code { color: #31c297; }
			}
		}
	}
}
@include tab() {
	.sales {
		&:hover>.hide-third {
			display: none;
			position: static !important;
		}
		.show-third {
			display: block;
			background-color: #444348;
			list-style-type: none;
			&>li {
				min-width: 230px;
				margin: 0;
				a { color: #fff !important; }
				&:hover { a, a code { color: #31c297 !important; } }
			}
		}
	}
}


@include tab() {
	.new-approach .approach-content .addition { code { display: block; } }
}


/*Banner Styling*/
@include tab(){
	.banner h2 {
		@include fonta(700,35px);
		@include mobile(){ @include fonta(700,28px); }

	}

	.banner-content span { @include fonta(400,18px); }
	.approach-content {
		width: 70%;
		.secondary-heading {
			@include fonta(700,30px);
			span { font-size: calc(14px + 0.8vw) }
		}
	}
	@include mobile(){ .secondary-heading { @include fonta(700,23px); }	}
	/*Story Pic Details Starts Here*/
	.story-pic {
		padding: 0 20px;
		div { padding: 5% 0; }
		h4 {
			margin: 0 0 30px;
			@include fonta(700,23.91px);
		}

		p {
			padding: 0 0 0 22px;
			border-left: 2px solid #ffc001;
			margin: 0 0 20px;
			display: inline-block;
		}

		.more-details { padding: 0 0 0 23px; }
	}
	/*Story Pic Details Ends Here*/
	/*Growth Starts Here*/
	.growth { .number { @include fonta(700,50px); } }
	/*Growth Ends Here*/

	/*Slider*/
	.testimonials { .wrapper { padding: 40px 0; }	}

	.carousel {
		.item {
			padding: 60px 20% 60px;
			p {
				@include fonta(400,14px);
				font-style: italic;
			}
			span { @include fonta(400,10px); }
		}
	}
	footer {
		.news-letter {
			h5 { margin: 25px 0; }
			form {
				width: 100%;
				.highlight {
					width: 50% !important;
					padding: 3%;
					font: 12px Verdana;
				}
				.subscribe {
					padding: 3% 5%;
					font: 12px Verdana;
				}
			}
		}
	}

	.footer-nav {
		text-align: center;
		.footer-heading {
			text-align: center;
		}

		.social {
			width: 40%;
			display: inline-block;
			li {
				a {
					display: inline-block;
				}
			}
		}
	}

	.copyright {
		width: 100%;
		.copyrights-links {
			width: 100%;
			margin: 0;
			li:first-child {
				padding: 0 2px 0 0;
				margin: 0;
				span { @include fonta(400,8px); }
			}
			a {
				padding: 0 5px 0;
				display:block;
				@include fonta(400,8px);
			}
		}
	}

}

// Media Query Ends Here