$font: Verdana;
// ==========1=======2=========3========4=========5========6========7=====
$box-model: " " "box-sizing" "width" "height" "padding" "border" "margin";

// =========1======2=========3=======4======5======6=======7======
$position: " " "position" "bottom" "left" "right" "top" "z-index";

// Mixin for box model css
@mixin boxmodel($n1,$value1,$n2,$value2,$n3,$value3) {
	#{nth($box-model,$n1)}: #{$value1};
	#{nth($box-model,$n2)}: #{$value2};
	#{nth($box-model,$n3)}: #{$value3};
}

// Mixin for Border-radius property
@mixin border-radius($radius){
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
}

@mixin fonta($value1,$value2){
	@if $value1 == 400 {
		$value1: "";
	}
	font: #{$value1}  #{$value2}  $font;
}

@mixin transform($transform) {
	transform: translate($transform);
	-webkit-transform: translate($transform);
	-moz-transform: translate($transform);
	-ms-transform: translate($transform);
}

@mixin translateX($x) {
	transform: translateX($x);
	-webkit-transform: translateX($x);
	-moz-transform: translateX($x);
	-ms-transform: translateX($x);
}

@mixin transition($trans){
	transition: $trans;
	-webkit-transition: $trans;
	-moz-transition: $trans;
	-ms-transition: $trans;
}


@mixin animation($value) {
	animation: $value;
	-webkit-animation: $value;
	-moz-animation: $value;
	-ms-animation: $value;
}


/*Media Queries*/
@mixin tab(){
	@media screen and (max-width:767px){ @content; }
}

@mixin mobile() {
	@media screen and (max-width: 480px) { @content; }
}


$utilities-list: "url(../images/photo-1442261350644-d746b4750d4c-150x150.png) no-repeat 0/100% 100%" "url(../images/module-img-dummy-150x150.png) no-repeat 0/100% 100%" "url(../images/module-img-dummy-150x150.png) no-repeat 0/100% 100%" "url(../images/photo-1443866451220-8377d57c426a-150x150.png) no-repeat 0/100% 100%" "url(../images/module-img-dummy-150x150.png) no-repeat 0/100% 100%" "url(../images/photo-1438256544752-7b3a88776cb0-150x150.png) no-repeat 0/100% 100%" "url(../images/photo-1435000442795-4f8aa43f052f.jpg) no-repeat 0/100% 100%" "url(../images/photo-1439741792332-bb036b9c06b3-150x150.png) no-repeat 0/100% 100%";
