/* ==========================================================================
Utilities Page
========================================================================== */

.utilities {
	.banner {
		padding: 13.5% 0 0;
		background-image: none;
		text-align: center;
		color: #38373c;
		div {
			width: 70%;
			display: inline-block;
			p {
				margin: 30px 0 50px;
			}
		}

		form {
			padding: 1% 0;
			background-color: #ccc;
			@include fonta(400, 18px);
			@include tab() {
				background-color: #fff;
			}
			select {
				width: 15%;
				height: 50px;
				color: #ccc;
				text-transform: uppercase;
			}
			.focus-discovery {
				padding: 12px 3%;
				border: 1px solid #fff;
				color: #fff;
				@include border-radius(8px);
				background-color: transparent;
				text-transform: uppercase;

				@include tab() {
					width: 100%;
					background-color: #ccc;
				}
			}
		}
	}
}


/*-----------------------------------------------------------------
utility-data Section
--------------------------------------------------------------------*/
.utility-data {
	padding: 35px 0;
	h3 {
		padding: 15px 0;
		border-bottom: 1px solid #888;
		color: #888;
		@include fonta(700,18px);
		text-transform: capitalize;
	}

	.data-list {
		padding: 20px 0 0;
		list-style-type: none;
		li a {
			box-sizing: border-box;
			padding: 43% 6%;
			margin: 30px 0 0;
			display: block;
			position: relative;
			@include transition(all 0.3s linear);
			&:hover { opacity: 0.6; }
			span {
				position: absolute;
				bottom: 6%;
				color: #fff;
				@include fonta(700,16px);
				@include tab() { @include fonta(700,5vw); }
			}
		}

		@for $i from 1 through 8 {
			li:nth-child(#{$i}) a {
				$url: nth($utilities-list, $i);
				background: #{$url};
			}
		}

	}

}

.lightbox {
	@include tab() { padding: 20px 0; }
	iframe {
		width: 100%;
		height: auto;
		@include tab() {
			height: 300px;
		}
	}
}